.equity {
  &-card {
    display: flex;
    flex-direction: column;
    // background: rgb(0 0 0 / 61%);
    height: 100%;
    width: 100%;
    padding: 20px;
    background: #242424;
  }

  &-title {
    text-align: start;
    font-size: 14px;
    padding: 20px 0px 10px;
    font-weight: bold;
    color: rgb(207 207 207);
  }

  &-img {
    height: 35px;
  }

  &-chart {
    display: flex;
    padding: 10px;
    color: #fff;
    justify-content: space-around;
    margin: 5px 0;
    // background: rgb(0 0 0 / 32%);
    background: #00000045;
    border-radius: 20px;
    align-items: center;

    &-overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    &-currency {
      font-weight: bold;
      color: #fff;
      font-size: 18px;
    }

    &-price {
      color: rgb(207, 207, 207);
      font-size: 12px;
      font-weight: bold;
    }

    &-line {
      width: 85px;
    }

    &-percent {
      font-size: 12px;
      font-weight: bold;

      &-green {
        color: rgb(17 189 0);
      }

      &-red {
        color: rgb(251 95 95);
      }
    }
  }
}
