.uv-box {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  margin: 10px 0;

  &-green {
    background: rgb(0 208 28);
  }

  &-orange {
    background: rgb(217 174 7);
  }

  &-red {
    background: rgb(225 0 0);
  }
}
