.weather-card-day {
  display: flex;
  background: linear-gradient(
    45deg,
    rgba(0, 115, 255, 0.542) 0%,
    rgba(59, 140, 196, 0.542) 32%,
    rgba(0, 138, 190, 0.542) 66%,
    rgba(53, 221, 255, 0.7) 100%
  );
  background-size: 400% 400%;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.weather-card-skel-day {
  display: flex;
  background: linear-gradient(
    45deg,
    rgba(0, 115, 255, 0.542) 0%,
    rgba(59, 140, 196, 0.542) 32%,
    rgba(0, 138, 190, 0.542) 66%,
    rgba(53, 221, 255, 0.7) 100%
  );
  background-size: 400% 400%;
  width: 100%;
  height: 100%;
  height: 285.5397644042969px;
  flex-direction: column;
  color: #ffffff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
}

.weather-card-night {
  display: flex;
  background: #242424;
  background-size: 400% 400%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #ffffff;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.weather-card-skel-night {
  display: flex;
  background: #242424;
  width: 100%;
  height: 100%;
  height: 285.5397644042969px;
  flex-direction: column;
  color: #ffffff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
}

.weather-overview {
  font-size: 24px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.weather-stats {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  margin: 0 20px;
  align-items: end;
  padding: 0 0 10px 0;
}
.weather-stats-condition {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.weather-temp {
  font-size: 46px;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px 20px;
}

.forecast-time {
  font-size: 12px;
  color: rgb(225 225 225);
  font-weight: bold;
}

.forecast-temp {
  font-weight: bold;
}

.location {
  display: flex;
}

.location-box {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  background: rgb(0 0 0 / 26%);
  border-radius: 20px;
  font-size: 14px;
  margin: 10px;
}

/* Make uv color variable */
.uv-box {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  background: rgb(0 208 28);
  border-radius: 20px;
  font-size: 14px;
  margin: 10px 0;
}

.location-name {
  padding-left: 5px;
}

.date {
  font-size: 16px;
}

.weather-high-low {
  font-size: 16px;
}

.weather-wind {
  font-size: 16px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
